/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define LY_QWERTY 0
#define LY_COLEMAK 1
#define LY_SYM 2
#define LY_NUM 3
#define LY_MV 4
#define LY_FN 5
#define LY_SETTINGS 6

/ {
	keymap {
		compatible = "zmk,keymap";

		// LY_QWERTY
		default_layer {
			bindings = <
	&none    &kp LSHFT &kp W &kp E     &kp R     &kp T                                                                       &kp Y         &kp U    &kp I     &kp O   &kp RSHFT &none
	&kp Z    &kp Q     &kp S &kp D     &kp F     &kp G                                                                       &kp H         &kp J    &kp K     &kp L   &kp SEMI  &kp FSLH
	&kp BSPC &kp A     &kp X &kp C     &kp V     &kp B         &kp LALT         &kp CAPS      &kp PSCRN     &kp RCTRL        &kp N         &kp M    &kp COMMA &kp DOT &kp P     &kp DEL
	                         &kp K_APP &kp LCTRL &mt LSHFT TAB &lt LY_NUM SPACE &lt LY_MV ESC &lt LY_FN RET &lt LY_SYM SPACE &mt RSHFT TAB &kp RALT &kp LCMD
			>;
		};

		// LY_COLEMAK
		qwerty_layer {
			bindings = <
	&none    &kp LSHFT &kp W &kp F     &kp P     &kp G                                                                       &kp J         &kp L    &kp U     &kp Y   &kp RSHFT &none
	&kp Z    &kp Q     &kp R &kp S     &kp T     &kp D                                                                       &kp H         &kp N    &kp E     &kp I   &kp SEMI  &kp FSLH
	&kp BSPC &kp A     &kp X &kp C     &kp V     &kp B         &kp LALT         &kp CAPS      &kp PSCRN     &kp RCTRL        &kp K         &kp M    &kp COMMA &kp DOT &kp O     &kp DEL
	                         &kp K_APP &kp LCTRL &mt LSHFT TAB &lt LY_NUM SPACE &lt LY_MV ESC &lt LY_FN RET &lt LY_SYM SPACE &mt RSHFT TAB &kp RALT &kp LCMD
			>;
		};

		// LY_SYM
		symbols_layer {
			bindings = <
	&none    &none    &kp AT    &kp HASH  &kp DLLR &kp PRCNT                                &kp CARET &kp AMPS &kp ASTRK &kp TILDE &none             &none
	&none    &kp EXCL &kp MINUS &kp UNDER &kp LPAR &kp LBRC                                 &kp RBRC  &kp RPAR &kp EQUAL &kp PLUS  &kp GRAVE         &none 
	&kp BSPC &kp SQT  &kp AMPS  &kp BSLH  &kp LT   &kp LBKT  &kp LALT &none &none &kp RCTRL &kp RBKT  &kp GT   &kp FSLH  &kp PIPE  &kp DOUBLE_QUOTES &kp DEL
	                            &none     &none    &none     &none    &none &none &trans    &none     &none    &none
			>;
		};

		// LY_NUM
		numbers_layer {
			bindings = <
	&none    &kp N1 &kp N2    &kp N3    &kp N4    &kp N5                             &kp N6          &kp N7 &kp N8 &kp N9 &kp N0        &none
	&none    &none  &kp LSHFT &kp LALT  &kp LCTRL &none                              &kp KP_PLUS     &kp N4 &kp N5 &kp N6 &kp KP_MINUS  &none
	&kp BSPC &none  &none     &none     &none     &none  &none  &none &none   &none  &kp KP_MULTIPLY &kp N1 &kp N2 &kp N3 &kp KP_DIVIDE &kp DEL
	                          &none     &none     &none  &trans &none &kp RET &kp N0 &kp KP_DOT      &none  &none
			>;
		};

		// LY_MV
		movement_layer {
			bindings = <
	&none    &none &none     &none    &none     &none                                      &none    &kp PG_UP &kp UP   &none     &none   &none
	&none    &none &kp LSHFT &kp LALT &kp LCTRL &kp INS                                    &kp HOME &kp LEFT  &kp DOWN &kp RIGHT &kp END &none
	&kp BSPC &none &none     &none    &none     &none   &none &none  &none           &none &none    &kp PG_DN &none    &none     &none   &kp DEL
	                         &none    &none     &none   &none &trans &mo LY_SETTINGS &none &none    &none     &none
			>;
		};

		// LY_FN
		functional_layer {
			bindings = <
	&none    &kp F1 &kp F2  &kp F3  &kp F4  &kp C_PREV                                      &kp C_NEXT   &none        &none        &none     &none &none
	&none    &kp F5 &kp F6  &kp F7  &kp F8  &kp C_VOL_DN                                    &kp C_VOL_UP &kp RCTRL    &kp RALT     &kp RSHFT &none &none
	&kp BSPC &kp F9 &kp F10 &kp F11 &kp F12 &kp C_MUTE   &none &none           &none  &none &kp C_PP     &kp C_BRI_DN &kp C_BRI_UP &none     &none &kp DEL
	                        &none   &none   &none        &none &mo LY_SETTINGS &trans &none &none        &none        &none
			>;
		};

		// LY_SETTINGS
		settings_layer {
			bindings = <
	&none &none &none      &none      &none      &none                                &none &none         &none          &none &none &none
	&none &none &bt BT_SEL &bt BT_PRV &bt BT_NXT &bt BT_CLR                           &none &to LY_QWERTY &to LY_COLEMAK &none &none &none
	&none &none &none      &none      &none      &none      &none &none  &none  &none &none &none         &none          &none &none &none
	                       &none      &none      &none      &none &trans &trans &none &none &none         &none
			>;
		};
	};
};
